<div class="grid-container">
<div class="grid-item">
<mat-card class="matcard">
  <mat-card-header class="matcard-header">
    <div class="name-card" ><mat-card-title>Primary Card</mat-card-title></div>
   <div class="option"><button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><mat-icon >more_vert</mat-icon>
    </button></div>
  </mat-card-header>
  <img mat-card-image src="../assets/goku1.jpg" alt="goku1">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, sunt natus laboriosam voluptate minus perferendis ipsa nostrum dolore quas aliquid nam pariatur repudiandae unde fugiat odit corporis, sint, magnam voluptas?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="butlow"><button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">Likes</button></div>
    <div class="share">
      <mat-icon>favorite</mat-icon>
      <mat-icon>share</mat-icon>
    </div>
    
  </mat-card-actions>
</mat-card>
</div>


<div class="grid-item">
  <mat-card class="matcard">
    <mat-card-header class="matcard-header1">
      <div class="name-card" ><mat-card-title>Accent card</mat-card-title></div>
     <div class="option"><button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><mat-icon >more_vert</mat-icon>
      </button></div>
    </mat-card-header>
    <img mat-card-image src="../assets/goku2.jpg" alt="goku2">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, sunt natus laboriosam voluptate minus perferendis ipsa nostrum dolore quas aliquid nam pariatur repudiandae unde fugiat odit corporis, sint, magnam voluptas?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="share0">
        <mat-icon>favorite</mat-icon>
        <mat-icon>share</mat-icon>
      </div>
      
    </mat-card-actions>
  </mat-card>
  </div>


  <div class="grid-item">
    <mat-card class="matcard">
      <mat-card-header class="matcard-header2">
        <div class="name-card" ><mat-card-title>Warm Card</mat-card-title></div>
       <div class="option"><button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><mat-icon >more_vert</mat-icon>
        </button></div>
      </mat-card-header>
      <img mat-card-image src="../assets/goku3.jpg" alt="goku3">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, sunt natus laboriosam voluptate minus perferendis ipsa nostrum dolore quas aliquid nam pariatur repudiandae unde fugiat odit corporis, sint, magnam voluptas?
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="share1">
          <mat-icon>favorite</mat-icon>
          <mat-icon>share</mat-icon>
        </div>
        
      </mat-card-actions>
    </mat-card>
    </div>
  </div>